.button
 {
  background-color: #e8e8e8;
  color: #484848;
  padding:7px;
  margin-right: 5px;
  border-radius:5px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
 }

 .active-button
 {
  background-color: #e8e8e8;
  color: #484848;
  padding:7px;
  margin-right: 5px;
  border-radius:5px;
  border: 2px solid #282828;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
 }
